:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #fdf9ff;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

/* Global Selectors */
button {
  background: none;
  border: none;
}

/* ICONS */
.search-icon {
  font-size: 20px;
}

.plus-icon {
  font-size: 15px;
}
